
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Explora&family=Lora&family=Narnoor&family=Oswald:wght@300&family=Playfair+Display&family=Satisfy&family=Slabo+27px&display=swap');
.container {
 
  max-width: 950px;
  margin:  auto;
  text-align: center;

}

body {
  font-family: Slabo+27px display;
  
}


#img {
    
    border-radius: 15px;
    border: solid blueviolet;
  
    
   
}   


.about-section {
  border: none;
  outline: 0;
  color: white;
  background-color: blueviolet;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}


.title {
  color: blueviolet;
  font: Arial;
  text-align: center;
}
.name {
  text-align: center;
  font-family:  Slabo+27px display;
  color: blueviolet;
  font: Slabo+27px display;
}
.nick {
  text-align: center;
  font-family:  Slabo+27px display;
  color: blueviolet;
}
p {
  text-align: center;
  font-family: Slabo+27px display;
  
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: blueviolet;
  text-align: center;
  cursor: pointer;
  font-size: 18px;
}
button:hover, a:hover {
  color: red;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: blueviolet;
}
footer a {
  color: blueviolet;
  text-decoration: none;
}
footer a:hover {
  color: red;
}
footer p {
  font-size: 1.2em;
  font: Slabo+27px display;
}
footer p a:hover {
  text-decoration: underline;
}
footer .social img {
  padding-top: 15px;
}
footer p {
  color: white;
  background-color: blueviolet;
  font: Slabo+27px display;
}

@media screen and (max-width: 950px) {
  .column {
    width: 100%;
    display: block;
  }
}